<form [formGroup]="laptopForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Marca</mat-label>
      <mat-select formControlName="marca">
        <mat-option *ngFor="let marca of marcas" [value]="marca">{{marca}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput type="number" formControlName="precio">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>
